body {
  height: 55vh;
  /* width: 100rem; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: #000000;
  border: 2px solid #000000;
  width: 18.5rem;
  /* width: 100%; */
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.input {
  background: #ffffff;
  border: 2px solid #000000;
  width: 18rem;
  height: 3rem;
  /* width: 100%; */
}

.enclosing {
  height: 50rem;
  width: 18.5rem;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.enclosing p {
  width: 100%;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  display: block;
  align-items: center;
  letter-spacing: -0.015em;
  color: #000000;
}
